body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

nav{
    padding: 5vh 10vh 5vh 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

nav a{
    text-decoration: none;
}

.navButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: none;
    color: #141E46;
    transition: .3s;
    cursor: pointer;
}

.navButton:hover{
    color: #41B06E;
}

.navButton p{
    border-bottom: 1px solid #141E46;
    width: 0;
    margin: 0;
    transition-duration: .3s;
}

.navButton:hover p{
    width: 100%;
}

#accountIcon{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    transition-duration: .2s;
}

#accountIcon:hover{
    background-color: #8DECB4;
}

.icon{
    margin-right: auto;
    margin-left: 0;
    width: 230px;
    height: 48px;
    cursor: pointer;
    transition-duration: .2s;
}

.icon:hover{
    transform: scale(1.2);
    transition-duration: .2s;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    color: #141E46;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 5em;
}

#top h1{
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}

h1 span{
    color: #41B06E;
}

#top p{
    font-size: xx-large;
    font-weight: 400;
    color: #141E46;
}

#popular{
    display: flex;
    flex-direction: column;
    margin: 10vh;
    color: #141E46;
    align-items: center;
}

#popularContainer{
    display: flex;
}

h2{
    color: black;
    margin: 0 0 0 5vh;
    font-size: 3em;
    font-weight: 600;
    border-bottom: 5px solid #41B06E;
}

hr{
    border-top: 3px solid #bbb;
}

.recipeCard{
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin: 5vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: black;
}

.recipeCard img{
    width: 100%;
    align-self: center;
    margin-bottom: 2em;
}

.recipeCard p{
    font-size: large;
    font-weight: 600;
    margin: .2em;
}

.recipeCard h3{
    color: #141E46;
    border-bottom: 2px solid #41B06E;
    font-size: xx-large;
    margin: 0 0 2vh 0;
}

.checked {
    color: orange;
  }

.recipeCard:hover{
    transform: scale(1.05);
    border: 2px solid #41B06E;
}

.recipeCard:hover h3{
    text-decoration: underline;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: black;
}

.footerSection{
    margin: 1em;
}

.footerSection a{
    margin: 1em;
    transition-duration: .3s;
    color: lightgray;
    text-decoration: none;
}

.footerSection a:hover{
    color: #8DECB4;
}

.footerLinks{
    display: flex;

}

.footerLinks a{
    display: flex;
    margin: 1em;
    padding: .5em;
    background-color: #41B06E;
    border-radius: 50%;
    transition-duration: .2s;
}

.footerLinks a:hover{
    background-color: white;
    transform: scale(1.2);
}

.footerLinks img{
    width: 2em;
    height: 2em;
}

#footerHead{
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
}

.divider{
    border-bottom: 1px solid #8DECB4;
    width: 50%;
    margin: 1em;
}

#footer p{
    font-size: 1em;
    font-weight: 500;
    color: gray;
}

.me{
    color: #8DECB4;
    text-decoration: none;
    transition-duration: .2s;
}

.me:hover{
    color: white;
    text-decoration: underline;
}