#createRecipePage{
    text-align: center;
}

.navSearch2{
    font-size: 1em;
    width: 15vw;
    border: none;
    outline: none;
    padding: .5em;
    border: 1px solid gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
}