body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

nav{
    padding: 5vh 10vh 5vh 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

nav a{
    text-decoration: none;
}

.navButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: none;
    color: #141E46;
    transition: .3s;
    cursor: pointer;
}

.navButton:hover{
    color: #41B06E;
}

.navButton p{
    border-bottom: 1px solid #141E46;
    width: 0;
    margin: 0;
    transition-duration: .3s;
}

.navButton:hover p{
    width: 100%;
}

#searchbar{
    display: flex;
    margin: 0 1em;
}

.searchbar2{
    display: flex;
    margin: 0 1em;
}

.navSearch2{
    font-size: 1em;
    width: 15vw;
    border: none;
    outline: none;
    padding: .5em;
    border: 1px solid gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#navSearch{
    font-size: 1em;
    width: 15vw;
    border: none;
    outline: none;
    padding: .5em;
    border: 1px solid gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#searchButton{
    display: flex;
    align-items: center;
    background-color: #41B06E;
    padding: .5em 1em;
    border: none;
    border-radius: 0 5px 5px 0;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}

#accountIcon{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    transition-duration: .2s;
}

#accountIcon:hover{
    scale: 1.2;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:10vh;
    justify-content: flex-end;
    padding: .5em;
    background-color: white ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: .5em;
    color: black;
}

.dropdown-content a:hover{
    background-color: lightgray;
}

.show {
    display: flex;
    flex-direction: column;
}

#pfp{
    display: flex;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    transition-duration: .2s;
    background-color: #141E46;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0;
}

#pfp:hover{
    scale: 1.2;
}

.icon{
    margin-right: auto;
    margin-left: 0;
    width: 230px;
    height: 48px;
    cursor: pointer;
    transition-duration: .2s;
}

.icon:hover{
    transform: scale(1.2);
    transition-duration: .2s;
}

#top{
    display: flex;
    justify-content: center;
    height: 70vh;
    color: #141E46;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#topContent{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 99, 99, 0.2);
}

h1{
    font-size: 5em;
}

#top h1{
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}

h1 span{
    color: #41B06E;
}

#top p{
    font-size: xx-large;
    font-weight: 400;
    color: #141E46;
}

#popular{
    display: flex;
    flex-direction: column;
    margin: 10vh;
    color: #141E46;
    align-items: center;
}

#popularContainer{
    display: flex;
}

#fields{
    text-align: center;
}

h2{
    color: black;
    margin: 0 0 0 5vh;
    font-size: 3em;
    font-weight: 600;
    border-bottom: 5px solid #41B06E;
}

hr{
    border-top: 3px solid #bbb;
}

.recipeCard{
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin: 5vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: black;
}

.recipeCard img{
    width: 100%;
    align-self: center;
    margin-bottom: 2em;
}

.recipeCard p{
    font-size: large;
    font-weight: 600;
    margin: .2em;
}

.recipeCard h3{
    color: #141E46;
    border-bottom: 2px solid #41B06E;
    font-size: xx-large;
    margin: 0 0 2vh 0;
}

.checked {
    color: orange;
  }

.recipeCard:hover{
    transform: scale(1.05);
    border: 2px solid #41B06E;
}

.recipeCard:hover h3{
    text-decoration: underline;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: black;
}

.footerSection{
    margin: 1em;
}

.footerSection a{
    margin: 1em;
    transition-duration: .3s;
    color: lightgray;
    text-decoration: none;
}

.footerSection a:hover{
    color: #8DECB4;
}

.footerLinks{
    display: flex;

}

.footerLinks a{
    display: flex;
    margin: 1em;
    padding: .5em;
    background-color: #41B06E;
    border-radius: 50%;
    transition-duration: .2s;
}

.footerLinks a:hover{
    background-color: white;
    transform: scale(1.2);
}

.footerLinks img{
    width: 2em;
    height: 2em;
}

#footerHead{
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
}

.divider{
    border-bottom: 1px solid #8DECB4;
    width: 50%;
    margin: 1em;
}

#footer p{
    font-size: 1em;
    font-weight: 500;
    color: gray;
}

.me{
    color: #8DECB4;
    text-decoration: none;
    transition-duration: .2s;
}

.me:hover{
    color: white;
    text-decoration: underline;
}