#recipePage{
    display: flex;
    flex-direction: column;
    margin: 10vh 20vh 10vh 20vw;
    font-weight: 500;
}

#recipeTitle{
    font-size: 3em;
}

#recipeImg{
    width: 50%;
}

#recipeInfo{
    width: 50%;
    margin: 5vh 0 5vh 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 2px solid #141E46;
}

#recipeInfo p{
    font-size: large;
    font-weight: 600;
    color: #141E46;
}

#recipeInfo p span{
    font-size: large;
    font-weight: 700;
    color: #41B06E;
}

#ingredients ul{
    list-style-type: square;
}

li{
    margin: 1em;
}

li::marker{
    color: #41B06E;
}

#steps{
    padding: 2em 0;
    width: 50%;
    border-bottom: 2px solid #41B06E;
}

.header{
    font-size: 2em;
}

.stepHeader{
    margin-top: 3em;
    font-size: medium;
    font-weight: 700;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* stars   */
.fa-star {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}

.fa-star.checked {
    color: orange;
}

.modal-content{
    margin: 10vh auto;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#post{
    margin: 5vh 0;
    background-color: white;
    border: 1px solid #41B06E;
    color: #41B06E;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

#post:hover{
    background-color: #41B06E;
    color: white;
}

#modalBtn{
    margin: 10vh;
    background-color: white;
    border: 1px solid #41B06E;
    color: #41B06E;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

#modalBtn:hover{
    background-color: #41B06E;
    color: white;
}

.reviewCard{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 5vh 0;
    width: 50%;
}

.reviewHead{
    display: flex;
    align-items: center;
}

.reviewHead p{
    margin: 1em;
}

.revName{
    font-size: 1.5em;
}

.reviewStars{
    display: flex;
    align-items: center;
}

.revDate{
    margin-left: 2em;
}